
<div class="tabs is-large is-centered my-3">
  <ul>
    <li class="is-active"><a
        class='button is-info is-inverted is-large'
        id='login'
        input
        type='button'
        onClick="location.href='/login'"
      >
        <span>LOGIN or SIGNUP</span>
      </a>
</li>
    
  </ul>
</div>