<section class='hero is-info is-fullheight'>
  <div class='hero-body'>
    <div class='container has-text-centered'>
      <p class='title'>Welcome to HELLYUM!</p>
      <a
        class='button is-info is-inverted'
        id='login'
        input
        type='button'
        onClick="location.href='login.html'"
      >
        <span>LOGIN or SIGNUP</span>
      </a>
    </div>
  </div>
</section>