 <div class="modal" id="join">
          <div class="modal-background" id="joinBg"></div>
          <div class="modal-content has-background py-6 px-6 ">
            <h2 class="title mb-8">SIGNUP</h2>

            <div class="field">
              <label class="label has-text-white">Username</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="username" id="user-signup">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>
            
            <div class="field">
              <label class="label has-text-white">Email</label>
              <div class="control has-icons-left">
                <input class="input" type="email" placeholder="@Email.com" id="email-signup">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
            </div>

            <div class="field">
              <label class="label has-text-white">Password</label>
              <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password" id="pass-signup">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
            </div>

            <div class="field is-grouped is-grouped-right">
              <p class="control">
                <a class="button is-info">
                  Submit
                </a>
              </p>
              
            </div>
          </div>       
<script src="main.js"></script>