figure {
  max-width: 500px;
  min-width: 200px;
}

.all-meals {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.meal {
  padding: 10px;
  margin: 10px;
}

.wrapper {
  width: 400px;
  padding: 40px;
  margin: 50px auto;
  border-radius: 6px;
  box-shadow: 0px 10px 40px 0px #3E8ED0;
 
}

h1 {
  text-align: center;
  
}